<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin panel</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="index.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <main class="container-main">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="ham-icon"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5"
        />
      </svg>
      <div class="lateral-bar">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="x-icon"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18 18 6M6 6l12 12"
          />
        </svg>

        <h2 class="Título">Filtros</h2>
        <div class="filters">
          <span>Categoría</span>
          <select class="select-cat" id="selectCat">
            <option value="">...</option>
            <option value="6-8 Age">6-8 Age</option>
            <option value="9-10 Age">9-10 Age</option>
            <option value="11-12 Age">11-12 Age</option>
            <option value="13-14 Age">13-14 Age</option>
            <option value="15-18 Age">15-18 Age</option>
          </select>
        </div>
      </div>
      <div id="containerMessage" class="container-message">
        <div id="message" class="message"></div>
      </div>
      <div class="container-table">
        <div class="container-items">
          <span>Nombre</span>
          <span>Categoría</span>
          <span>Edad</span>
          <span>Club</span>
        </div>
        <div id="containerIns" class="container-insc"></div>
      </div>
    </main>
    <script src="index.js"></script>
  </body>
</html>
