<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin panel</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="ham-icon"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5"
      />
    </svg>
    <main class="container-main">
      <div class="lateral-bar">
        <h2>Filtros</h2>
        <div class="filters">
          <span>Categoría</span>
          <span>Edad</span>
        </div>
      </div>
      <table class="container-table">
        <tr>
          <th>Nombre</th>
          <th>Categoría</th>
          <th>Edad</th>
          <th>Club</th>
        </tr>
        <tr>
          <th>Pedro Centeno</th>
          <th>A</th>
          <th>5</th>
          <th>Izcaragua Country Club</th>
        </tr>
      </table>
    </main>
    <script src="index.js"></script>
  </body>
</html>
